.list {
    overflow-y: scroll;
    max-height: 52vh;
}

.list::-webkit-scrollbar {
    width: 5px;
}

.list::-webkit-scrollbar-track {
    background: none;
}

.list::-webkit-scrollbar-thumb {
    background-color: rgba(251, 251, 251, 0.4392156863);
    border-radius: 20px;
}