@import '../variables.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $transparent-grey;
    margin: 14px 0;
    padding: 0 0 7px;

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 350px;
        width: 100%;
        margin-right: 15px;
    }

    .uploadItem {
        display: flex;
        align-items: center;

        span {
            margin-left: 2px;
            cursor: pointer;
        }
    }

    .uploadSubmit {
        display: flex;
        align-items: center;
    }

    .error {
        color: #ff0000;
        letter-spacing: 0px;
        margin-right: 3px;
        font-size: 14px;
    }
}