$font-family: 'Nanum Gothic', sans-serif;

$background: #9d9d9d1f;
$white: #fbfbfb;
$red: #812a2a;

$light-grey: #dfdfdf;
$grey: rgb(194 194 194);
$dark-grey: #232323;
$orange-grey: #e3e1de;
$transparent-grey: rgba(251, 251, 251, 0.4392156863);